{% extends "::base.html.twig" %}

{% block body %}


    {% for name, config in templates %}
    <form name="{{ name }}" action="{{ path('la_messaging_send') }}" method="post">
        <fieldset>
            <legend>{{ name|title }}</legend>
            <label for="email">Email</label>
            <input type="email" name="{{ name }}[email]" />

            {% for field in config.dyn %}
                <div style="display: block;">
                    <label for="{{ name }}[{{ field }}]">{{ field|title }}</label>
                    <input type="text" name="{{ name }}[dyn][{{ field }}]" />
                </div>
            {% endfor %}

            <button type="submit">Send</button>
        </fieldset>
    </form>
    {% endfor %}

    {{ dump(templates) }}

{% endblock %}